body{
    --color1: #f6fffb;
    --color2: #9effd5;
    --color3: #a8c1b6;
    --color4: #40544b;
    --color5: #151e1a;
    font-family: 'Open Sans', 'Quicksand', sans-serif

}

.mt-navbar  {
    background-color: var(--color1);
}

.mt-navbar > a{
    font-family: 'Open Sans', sans-serif;
    color: var(--color4);    
}


li.nav-item.dropdown:hover div.dropdown-menu{
    display: block;
}
li.nav-item.dropdown:hover{
    background-color: var(--color3);
}

a.nav-link.dropdown{
    color: var(--color4);
    text-transform: uppercase;
}

nav.navbar.navbar-expand-md{
    background-color: var(--color1);
}
ul a{
    color: var(--color4);
}

