header {
    border-radius: 2px;
    box-shadow: 0px 1px 6px #999;
  }
  
footer {
    border-radius: 2px;
    box-shadow: 1px 0px 3px #999;
}


.breadcrumb {
    background-color: white;
}

.breadcrumb-item.active {
    color: #151e1a;
    font-family: 'Quicksand', sans-serif;
}

li>a {
    font-family: 'Quicksand', sans-serif;
    color: #a8c1b6;
}

.breadcrumb a:hover {
    color: #40544b;
    text-decoration: none;
}

h3.mt-0 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#product-images {
    width: 40%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23151e1a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23151e1a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: #151e1a
}

.carousel-indicators .active {
    background-color: #9effd5;
}

.carousel-inner img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media-body>h3 {
    font-size: 35px;
    border-bottom: 1px solid #151e1a;
    padding-bottom: 15px;
    color: #a8c1b6;
}

p#product-price {
    font-size: 25px;
    margin-top: 15px;
    color: #a8c1b6;
}

input#quantity {
    height: 46.5px;
    line-height: 47px;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #40544b;
    text-align: center;
    text-decoration: none;
    min-width: 55px;
    width: 55px;
    display: inline-block;
    margin: 0 10px 0 0;
}

input.AddtoCart {
    background-color: #f6fffb;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #a8c1b6;
    color: #a8c1b6;
    text-align: center;
    text-decoration: none;
    padding: 30px 100px;
    border-radius: 15px;
    letter-spacing: 2px;
    display: block;
    margin-top: 25px;
    transition-duration: 0.4s;
}

input.AddtoCart:hover {
    background-color: #40544b;
    border: 2px solid #40544b;
    color: white;
}

input.AddToCart {
    background-color: #f6fffb;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #a8c1b6;
    color: #a8c1b6;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 15px;
    letter-spacing: 2px;
    display: block;
    margin-top: 25px;
    transition-duration: 0.4s;
}

input.AddToCart:hover {
    background-color: #40544b;
    border: 2px solid #40544b;
    color: white;
}

.product-add label {
    font-size: 15px;
    color: #a8c1b6;
}

form#AddToCartForm.product_form {
    border-bottom: 1px solid #151e1a;
    padding-bottom: 25px;
}

div.btn-group {
    display: block;
    margin-top: 15px;
}

button.btn.btn-secondary {
    background-color: #40544b;
    font-family: 'Quicksand', sans-serif;
    border: none;
    color: #a8c1b6;
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 3px;
    letter-spacing: 2px;
    margin-top: 10px;
}

div.product-add {
    margin-top: 15px;
}

div.dropdown {
    margin-top: 15px;
}

div#informations {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

li.list-group-item>h6 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #a8c1b6;
    font-size: 22px;
    margin-bottom: 20px;
}

li.list-group-item p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.list-group-item {
    border: 1px solid #151e1a;
}

.list-group-item form#makeReview {
    padding-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #a8c1b6;
}

.list-group-item form#makeReview div {
    padding: 7.5px;
}

.list-group-item form#makeReview h6 {
    font-size: 18px;
}

.list-group-item form#makeReview .custom-range {
    width: 139vh;
}

.list-group-item form#makeReview input[name="Submit"] {
    background-color: #f6fffb;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #a8c1b6;
    color: #a8c1b6;
    text-align: center;
    text-decoration: none;
    padding: 10px 33px;
    border-radius: 15px;
    letter-spacing: 2px;
    display: block;
    margin-top: 25px;
    transition-duration: 0.4s;
}

.list-group-item form#makeReview input[name="Submit"]:hover {
    background-color: #40544b;
    border: 2px solid #40544b;
    color: white;
}

.list-group-item .pontuation,
.list-group-item h5 {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    color: #151e1a;
}

.list-group-item .pontuation {
    padding-left: 10px;
}

.list-group-item .pontuation label {
    font-family: 'Quicksand', sans-serif;
    vertical-align: middle;
    height: 100%;
}

.list-group-item .pontuation img {
    width: 2.5vh;
    height: auto;
    vertical-align: unset;
}

.list-group-item h5.author {
    float: right;
}

.mt-3.container h6 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #a8c1b6;
    font-size: 22px;
}

.mt-3.container h5 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #a8c1b6;
    font-size: 18px;
} 

.mt-3.container span {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #a8c1b6;
    font-size: 16px;
}