body {
    --color1: #f6fffb;
    --color2: #9effd5;
    --color3: #a8c1b6;
    --color4: #40544b;
    --color5: #151e1a;
    font-family: 'Quicksand', 'Open Sans', sans-serif
}

button.next {
    background-color: #40544b;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    transition-duration: 0.4s;
}

button.next:hover {
    background-color: #f6fffb;
    font-weight: 700;
    border: 1.5px solid #40544b;
    color: #40544b;
}

button.next a{
    color: white;
    text-decoration: none;
}

button.next:hover a {
    color: #40544b;
    text-decoration: none;

}

.progress-bar{
    background-color: #40544b
}
ul#cart > li > a{
    text-decoration: none;
    color: inherit
}
ul#cart > li > a:hover{
    text-decoration: none;
    color: inherit
}


button.back-button a{ 
    text-decoration: none;
    color: var(--color5);
}

