.breadcrumb {
    background-color: white;
}

.breadcrumb-item.active {
    color: #151e1a;
    font-family: 'Quicksand', sans-serif;
}

li>a {
    font-family: 'Quicksand', sans-serif;
    color: #40544b;
}

.breadcrumb a:hover {
    color: #40544b;
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.row a {
    font-family: 'Quicksand', sans-serif;
    color: #40544b;
}

main {
    width: 120vh;
    margin-left: auto;
    margin-right: auto;
}

#profile-section label {
    font-size: 25px;
    padding-left: 15px;
}

#profile-section h5 {
    font-size: 20px;
    padding-left: 30px;
}

.information.mt-4.pt-3 {
    border-top: 1px solid #151e1a;
}

#profile_title, #addresses_title, #payment_title {
    border-bottom: 1px solid #151e1a;
    width: 40vh;
}

#profile .mt-4.col-md-6.col-lg-3 {
    border-top: 1px solid #151e1a;
}

.modal-footer input {
    background-color: #f6fffb;
    font-family: 'Quicksand', sans-serif;
    border: 1.5px solid #40544b;
    color: #40544b;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    display: block;
    margin-top: 25px;
    transition-duration: 0.4s;
}

.modal-footer input:hover {
    background-color: #40544b;
    font-weight: normal;
    border: 2px solid #40544b;
    color: white;
}
