body {
    --color1: #f6fffb;
    --color2: #9effd5;
    --color3: #a8c1b6;
    --color4: #40544b;
    --color5: #151e1a;
    font-family: 'Quicksand', 'Open Sans', sans-serif
}

.img-fluid{
   max-width: 5rem; 
}

header {
    border-radius: 2px;
    box-shadow: 0px 1px 6px #999;
  }

  footer {
    border-radius: 2px;
    box-shadow: 1px 0px 3px #999;

}
.mt-navbar {
    background-color: var(--color1);
    margin-bottom: 0;
    transition-duration: 0.6s;
}



.navbar-brand> * {
    font-family: 'Quicksand', 'Open Sans', 'sans-serif';
    color: var(--color5);
}

.mt-navbar>a {
    font-family: 'Quicksand', sans-serif;
    color: var(--color4);

}

div.dropdown-menu:hover {
transition-duration: 0.2s linear;
}
li.nav-item.dropdown:hover div.dropdown-menu {
    display: block;
}

li.nav-item.dropdown:hover {
    background-color: var(--color3);
    transition-duration: 0.6s;
}

a.nav-link.dropdown {
    color: var(--color5);
    text-transform: uppercase;
    font-size: 1.2rem;


}

nav.navbar.navbar-expand-md {
    background-color: var(--color1);
}

ul a {
    color: var(--color5);
}

div.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: var(--color4);
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: var(--color4);
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: var(--color1);
    color: var(--color4);

}

.search_input::placeholder {
    color: var(--color1);
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.footer{
    background-color: var(--color1);
}
.footer .row li {
    background-color: inherit;
    border: none;
    text-decoration: none;
}


.footer a {
    color: var(--color4);
    text-decoration: none;
}
.footer .row li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

.footer ul.links li > span{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.footer ul.links li > span:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
.footer ul.links li a i{
	margin-right: 5px;
}
.footer ul.links li:hover a i {
    font-weight: 700;
}

img.center-block {
    max-width: 300px;
    max-height: 350px;
    padding: 10px;
}

.footer{
    bottom: 0;
}